In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [4]:
#Copy some rows to clipboard
nfl_frame=pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [7]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [8]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: Rank, dtype: int64

In [9]:
nfl_frame.Team

0             Dallas Cowboys
1          Green Bay Packers
2              Chicago Bears
3             Miami Dolphins
4    New England Patriots[b]
5            New York Giants
6             Denver Broncos
7          Minnesota Vikings
8           Baltimore Ravens
Name: Team, dtype: object

In [10]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
5    1925
6    1960
7    1961
8    1996
Name: First NFL Season, dtype: int64

In [11]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                      Team  First Season Total Games
0           Dallas Cowboys           NaN         866
1        Green Bay Packers           NaN       1,320
2            Chicago Bears           NaN       1,354
3           Miami Dolphins           NaN         784
4  New England Patriots[b]           NaN         868
5          New York Giants           NaN       1,289
6           Denver Broncos           NaN         868
7        Minnesota Vikings           NaN         854
8         Baltimore Ravens           NaN         336

In [12]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium']) # missing column

                      Team  First Season Total Games  Stadium
0           Dallas Cowboys           NaN         866      NaN
1        Green Bay Packers           NaN       1,320      NaN
2            Chicago Bears           NaN       1,354      NaN
3           Miami Dolphins           NaN         784      NaN
4  New England Patriots[b]           NaN         868      NaN
5          New York Giants           NaN       1,289      NaN
6           Denver Broncos           NaN         868      NaN
7        Minnesota Vikings           NaN         854      NaN
8         Baltimore Ravens           NaN         336      NaN

In [13]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [14]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [15]:
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [16]:
nfl_frame.ix[3]

/Users/mithleshpatel/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [17]:
nfl_frame['Stadium']="Levi's Stadium"

In [18]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levi's Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,Levi's Stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Levi's Stadium
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,Levi's Stadium
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,Levi's Stadium
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,Levi's Stadium

In [20]:
nfl_frame['Stadium']=np.arange(9)

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,4
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,5
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,6
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,7
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,8

In [22]:
# add series to DF
stadiums=Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [23]:
nfl_frame['Stadium']=stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,Levi's Stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,NaN
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,NaN
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,NaN
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,NaN

In [24]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [25]:
data={'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [26]:
#DF by passing dict
city_frame=DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [27]:
website='http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True